@*@model IEnumerable<DemoLibrary.Demo>*@

<div class="container">
        <table id="userTable" class="table text-center">
            <thead>
                <tr class="text-center">
                    <th class="text-center">Select All&nbsp;<input type="checkbox" id="selectAll"></th>
                    <th class="d-none">Id</th>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Contact</th>
                    <th>Gender</th>
                    <th>Address</th>
                    <th>Country</th>
                    <th>State</th>
                    <th>City</th>
                    <th>Action</th>
                </tr>
            </thead>
        </table>
</div>
